 .cart {
    position: relative;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .cart:hover {
    color: #d41a1a;
  }
  
  .cart-total-item {
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: #e7dedc;
    color: #d41a1a;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 0.8em;
    margin-right: -45px;
    margin-top: -10px;
  }
  
  /* @media only screen and (max-width: 768px) {
    .cart {
      margin-right: 20px; 
    }
  
    .cart-total-item {
      font-size: 0.7em; 
      padding: 4px 8px;
      right: 10px; 
    }
  } */