.rowc {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  background: aliceblue;
  border-radius: 15px;
  width: 100%;
  max-width: 60%;
  margin: 20px auto;
}

.row-item {
  display: flex;
  align-items: center;
}

.img {
  width: 200px;
}

.img img{
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.img p{
  margin-bottom: 10px;
  font-weight: 900;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.quantity button:focus {
  outline: none;
}

.quantity div {
  margin: 0 10px;
  background: #efdcc4;
  padding: 8px;
  border-radius: 6px;
}

.remove {
  margin-left: 20px;
}

.icond {
  cursor: pointer;
  color: red;
  
}

.subtotal {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .rowc {
    width: 90%;
    /* margin-left: auto;
    margin-right: auto;
    flex-direction: column; */
    padding: 10px;
  }

}

