 .image {
   width: 100%;
   height: auto;
 }
 
 .icons {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
 }
 
 .icon {
   text-align: center;
 }
 .icon>:nth-child(1){
  color: rgb(51, 251, 16);
 }
 .icon span {
   display: block;
   
 }
 
 .icon span:first-child {
   font-size: 2em;
 }
 
 .icon span:nth-child(2) {
   font-size: 1.2em;
   font-weight: bold;
   margin-top: 10px;
 }
 
 .icon span:nth-child(3) {
   font-size: 0.9em;
   color: #777;
 }
 @media only screen and (max-width: 768px) {
  .icons {
     flex-direction: column;
     align-items: center;
  }

  .icon {
     margin-bottom: 20px;
  }
}