.main{
    background-color: rgb(168, 176, 173);
    display: flex;
    height: 10vh;
    padding-top: 16px;
    overflow: hidden;
    margin-top: 0px;
}
.name{
    flex:1;
    margin-left: 2rem;
    transform: rotate(-10deg);
    
}
.name>:nth-child(1){
    text-decoration: none;
    color: #641717;
    font: icon;
    font-size: 20px;
    font-weight: bold;
    font-weight: 900;
    text-decoration: underline;
}
.header{
    flex: 1 1;
    margin-top: 9px;
    margin-left: 2rem;
    padding-top: 3px;
    padding-left: 39rem;
}

.header>:nth-child(1){
    color: black;
    text-decoration:none ;
    margin: 2rem;
    text-align: center;
}
.header>:nth-child(2){
    color: black;
    text-decoration:none ;
    margin: 2rem;
}
.header>:nth-child(3){
    color: black;
    text-decoration:none ;
    margin: 2rem;
}