.main {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: burlywood; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
}
.header{
  display: flex;
  margin-right:30px;
}
 
.name a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.header a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
.header a:hover {
  text-decoration: underline;
}
.cart-link {
  position: relative;
}
.cart-link .cart-icon {
  color: #fff;
  font-size: 24px;
  vertical-align: middle;
  margin-left: 20px;
}
