.cart{
   background-color: rgb(126, 137, 137);
    float: right;
    margin-right: 5rem;
    display: flex;
    gap: 2rem;
    border-radius: 1rem;
    height: 1.9rem
    
}
.icon{
    margin-top:5px;
}
.quantity{
    margin-top:5px;
}